<form *ngIf="recipieForm" [formGroup]="recipieForm" class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput formControlName="id" placeholder="Id">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput formControlName="name" placeholder="Nombre de la receta">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput formControlName="principalIngredient" placeholder="Ingrediente principal">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput formControlName="ingredients" placeholder="Ingredientes">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Tiempo de preparación" formControlName="time">
      <mat-option *ngFor="let time of posibleTimes | async" [value]="time">
        {{time}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput formControlName="dificulty" placeholder="Dificultad"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput formControlName="description" placeholder="Descripción de la receta"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput formControlName="aditionalInfo" placeholder="Información adicional"></textarea>
  </mat-form-field>
</form>
